{% extends "../base.html" %}
{% load comment_block %}
{% block main %}
{% if post %}
    <h1>{{ post.title }}</h1>
    <div>
        <span class="card-link">作者：<a href="{% url 'author' post.owner.id %}">{{ post.owner.username }}</a></span>
        <span class="card-link">分类：<a href="{% url 'category_list' post.category.id %}">{{ post.category.name }}</a></span>
    </div>
    <hr>
    <blockquote class="blockquote">
        摘要：{{ post.decs }}
    </blockquote>
    <p>{{ post.content }}</p>
{% endif %}
{% comment_block request.path %}
{% endblock %}